@import 'src/styles/index.scss';

.header__container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    @media (max-width: $tablet-media){
        img{
            width: 40%;
        }
    }
}   
