@import '../../../../styles/index.scss';

.titleownercontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary-color;
    font-family: $font;
    gap:20px;
    .titleandlocation{
        h1{
            font-size: 36px;
            margin-bottom: 5px;
            @media (max-width: $tablet-media){
                font-size: 18px;
            }
        }
        p{
            font-size: 18px;
            @media (max-width: $tablet-media){
                font-size: 14px;
            }
        }
    }
    
    .tag__container{
        display: flex;
        flex-direction: row;
        gap: 2%;
        width: fit-content;
        
    }
}