@import '../../../styles/index.scss';

.container{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    @media (max-width: $tablet-media){
        width: 90%;
    }
    &__presentation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        @media (max-width: $tablet-media){
            flex-direction: column;
            width: 100%;
            gap: 10px;
        }
    }
}

.container__deployer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    box-sizing: border-box;
    @media (max-width: $tablet-media){
        flex-direction: column;
        width: 100%;
    }
    .logement{
        @media (max-width: $tablet-media){
            width: 100%;
            display: inline;
        }
    }
}

